<head th:fragment="head(titulo)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}">Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<header th:fragment="header(titulo)">
    <div class="container mt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
            <a class="nav-link" 
            th:classappend="${#httpServletRequest.getRequestURI().equals('/') ? 'active': ''}" href="/">    Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                th:classappend="${#httpServletRequest.getRequestURI().equals('/professores') ? 'active': ''}" href="/professores">Professor
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                th:classappend="${#httpServletRequest.getRequestURI().equals('/alunos')? 'active': ''}"
                href="/alunos">Aluno</a>
            </li>
        </ul>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1 th:text="${titulo}"></h1>
            </div>
        </div>
    </div>
</header>